

h1{
    color: rgb(253, 254, 254);
  font-family: 'Times New Roman', Times, serif;}

h2{
    color: rgb(253, 254, 254);
  font-family: 'Times New Roman', Times, serif;}

h3{
    color: rgb(253, 254, 254);
  font-family: 'Times New Roman', Times, serif;}

b{ color: rgb(243, 246, 248);
font-family: 'Times New Roman', Times, serif;}

  p{ color: rgb(243, 246, 248);
    font-family: 'Times New Roman', Times, serif;}

header{background-color: rgb(254, 8, 8);}
a{
    color: black;}
a:hover{
    color: rgb(243, 24, 24);}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  justify-content: center;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
ul li a:hover:not(.active) {
  background-color: #111111;
}

ul li a.active {
  background-color: #d2cccc;
}
body{background-color: #787474;}
label{
  color: rgb(253, 254, 254);} 





